 @font-face{
     font-family: 'r200';
     src: url('../fonts/Roboto-Light.ttf')
 }
 @font-face{
     font-family: 'r400';
     src: url('../fonts/Roboto-Medium.ttf')
 }

body
{
    margin: 0;
    background-color: #F6F6F6;
    font-family: r200;
}

body *
{
    transition: all .2s;
}

body>header
{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    background-color: #34374C;
    z-index: 999;
}

body>header picture:first-of-type:hover
{
    transform: rotateZ(-7deg);
}
body>header picture
{
    cursor: pointer;
    height: 3em;
    padding: .5em;
    margin: .5em;
    background-color: #F6F6F6;
}

body>header picture:last-of-type
{
     height: 2em;
     padding: .5em .5em;
     margin: 1em;
}

body>header picture img
{
    height: 100%;
}

body>section
{
    height: 100%;
    display: flex;
    margin-top: 5em;
}

body>section>section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article>header
{
    color: #EE2B47;
    font-family: r400;
    font-size: 1.6em;
}
article header h3
{
    text-align: center;
    margin: 0;
}
article:hover{
    transform: scale(1.05);
    box-shadow: 1px 2px 6px 3px #444;
}
article
{
    width: 80%;
    padding: 1em;
    margin: 1em;
    background-color: #2C2E3E;
    color: #F6F6F6;
}
nav
{
    overflow: hidden;
    background-color: #2C2E3E;
    width: 0%;
    height: 100vh;
    position: fixed;
    left: 0;
    top:0;
    z-index: 1000;
}
nav.open
{
    padding: 1em;
    width: 30%;
    border-right: .2em solid #EE2B47;
}
nav h2
{
    margin: 0;
    font-size: 2em;
    font-family: r400;
    color: #EE2B47;
}

dl
{
    padding: 1em;
    background-color: #eee;
    border: .2em solid #EE2B47;
    color: #34374C;
}

dt
{
    font-family: r400;
}

p
{

}
.container:first-of-type
{
    margin-top: 1em;
}
.container
{
    background-color: #34374C;
    padding: 1em;
    border: .1em solid #eee;
    margin-bottom: 1em;
}
.container:last-of-type
{
    margin: 0;
}

ul
{
    padding-left: 1.5em;
    list-style-type: square;
    margin: 1em;
}

.definitions>div
{
    display: flex;
    justify-content: space-around;
}
.definitions>div>p
{
    padding: 1em;
    background-color: #EE2B47;
    min-width: 12em;
    text-align: center;
    display: inline-block;
    font-family: r400;
}
small
{
    background-color: #EE2B47;
    font-family: r400;
    padding: .5em;
    margin: .5em;
    display: inline-block;
}

nav
{
    color: #F6F6F6;
    overflow: auto;
}
nav ul ul>li{
    padding: .25em 0;
}
nav a
{
    color: #F6F6F6;
    text-decoration: none;
}
nav p
{
    font-family: r400;
}
nav>ul
{
    list-style-type: none;
}